.searchBar__wrapper {
    width: 100%;
    padding: 20px 20px;
}

.searchBar__wrapper .searchBar__input-data {
    height: 40px;
    width: 100%;
    position: relative;
}

.searchBar__wrapper .searchBar__input-data input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
    background: rgba(255,255,255, 0);
    color:rgba(255,255,255, 0.8);
    letter-spacing: 0.8px;
}

.searchBar__input-data input:focus ~ label,
.searchBar__input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: rgba(255,255,255, 0.5);
}

.searchBar__wrapper .searchBar__input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgba(255,255,255, 1);
    pointer-events: none;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 600px) {
    .searchBar__wrapper {
        width: 500px;
    }
}

@media only screen and (min-width: 1200px) {
    .searchBar__wrapper {
        width: 600px;
    }
}